/*
color pallette

https://colorhunt.co/palette/155241

#f0dd92
#ffffc5
#d6e4aa
#83b582

*/

:root {
    --bg: whitesmoke;
}

body {
    background-color: var(--bg);
    font-family: 'Quicksand', sans-serif;
}

.VizContainer {
    width: 80%;
    height: 600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    background-color: #f0dd92;
    display: grid;
    grid-template-rows: auto 10fr auto;
    grid-template-columns: repeat(16, 1fr 1fr .2fr);
    grid-gap: 5px 1px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
    padding: 5px 5px;
    
    perspective: 2000px;
    perspective-origin: bottom right;
}

.VizContainer * {
    text-align: center;
}

.VizContainer h1 {
    grid-row: 1;
    grid-column: 1 / -1;
    background-color: #83b582;
    margin: 0;
    padding: 20px;
    box-shadow: 2px 10px 5px 0px rgba(0,0,0,0.5);
}

.Viz-wrapper {
    /*display contents to not allow for grouping of divs but ignore it for grid purposes*/
    display: contents;
    transition: .3s;
}

.Viz-wrapper:hover {
    color: blue;
    font-weight: bold;
}

.Viz-data {
    grid-row: 2;
    align-self: end;
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.5);
    font-size: 1vw;
    transition: .1s;
}

.Viz-data:hover {
    font-size: 2.5vw;
}

.Viz-dataGap{
    grid-row:2;
}

.Viz-regular {
    background-color: #ffffc5;
}

.Viz-playoff {
    background-color: #d6e4aa;
}

.Viz-team {
    grid-row: 3;
    grid-column: span 2;
    padding: 5px 0px 8px 0px;
    font-size: 1.25vw;
}

.Viz-teamGap {
    grid-row: 3;
}

/*@media at certain width increase .VizContainer width to 100%*/
@media only screen and (max-width: 800px) {
.VizContainer {
    width: 100%;
}
